.form-container{
    width: 1200px;
    height: 230px;
    padding: 20px 0 30px 0;
    margin: auto;
    background-color: cadetblue;
}

.form-container > .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.form-container > .form > p {
    padding: 0 30px;
}

.form-input {
    display: block;
    width: 500px;
    height: 40px;
    padding-left: 10px;
    font-size: 15px;
    margin: 5px 0 10px 0;
}

.form-require-input {
    color: #F14440;
}

.form-textarea {
    display: block;
    width: 500px;
    padding-left: 5px;
    font-size: 15px;
    margin: 5px 0 10px 0;
    padding: 5px;
}

.form-input, .form-textarea {
    border-radius: 5px;
    border: 1px solid #e2e2e2;
}

.action-container {
    width: 1200px;
    margin: auto;
    height: 38px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.action-container > div >  .item-filter {
    width: 120px;
    height: 38px;
    font-size: 15px;
    padding: 0 10px;
}

