*{
  margin: 0;
  padding: 0;
  color: #3D4C53;
}

body {
  background-color: #f5f5f5;
}

.btn {
  width: 100px;
  padding: 10px;
  color: #fff;
  border: 0px;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover{
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.btn-success {
  background-color: #A9CF55;
}

.btn-danger {
  background-color: #F14440;
}

.btn-accent-1{
  background-color: cadetblue;
}

.btn-default {
  background-color: #3d4c5386;
  color: #fff;
}

.text-primary {
  color: #087ea4;
}